@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');
/*Шрифты*/
body{
  margin: 0;
  font-family: 'Nunito Sans', 'Arial', 'Helvetica', sans-serif;
}
body * {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.button{
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-size: 11px;
  cursor: pointer;
}
.title{
  font-family: 'Yeseva One','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subtitle {
  font-family: 'Yeseva One','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  text-transform: uppercase;
}
.input {
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  outline: none;
}
.logo{
  margin-left: 90px;
  color: #E3B873;
  text-transform: uppercase;
}

.header{
  background-color: #131313;
}
.header-content{
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
  font-size: 11px;
}
.header-navigation{
  list-style: none;
  display: flex;
}
.header-navigtion__item{
  margin-right: 47px;
}
.navigation-link{
  text-decoration: none;
  color: white;
}
.link-color{
  color: #E3B873;
}
.header-contact{
  margin-right: 90px;
}
.header-navigtion__tel{
  color: #E3B873;
  margin-right: 45px;
}
.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(../img/hero.jpg);
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  padding-left: 134px;
  position: relative;
}
.banner-content{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.banner-title{
  padding-bottom: 19px;
}
.banner-text{
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
  padding-bottom: 23px;
}
.highlight{
  color: #E3B873;
}
.banner-submit{
  display: flex;
  
}
.button-submit{
  width: 205px;
  height: 51px;
  margin-right: 20px;
}
.button-transparent{
  width: 205px;
  height: 51px;
  border: 1px solid white;
  background: none;
  padding: 0;
}
.projects {
  background-color: #131313;
  background-size: cover;
  padding-top: 107px;
  padding-left: 135px;
  height: 1074px;
}
.projects-content {
  display: flex;
  flex-direction: row;
}
.left-side {
  padding-top: 55px;
  width: 440px;
  height: 542px;
  margin-right: 50px;
}
.projects-title {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  color: #E3B873; 
  margin-bottom: 34px;
}
.projects-text {
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 42px;
}
.projects-info {
  display: flex;
  flex-wrap: wrap;
}
.info {
  width: 175px;
  height: 72px;
  margin-right: 29px;
  margin-bottom: 34px;
}
.info-title {
  font-size: 18px;
  line-height: 25px;
  color: #E3B873; 
}
.info-text{
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 42px;
}
.projects-icon {
  margin-top: 30px;
}
.right-side {
  display: flex;
  flex-direction: column;
}
.projects-navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 45px;
}
.projects-navigation__item {
  margin-right: 61px;
}
.projects-link {
  font-family: 'Yeseva One','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3); 
}
.link-underline {
  text-decoration: underline;
  color: #E3B873;
}
.control-content {
  margin-top: -320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.control-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.control-title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 12px;
}
.control-icon {
  list-style: none;
  display: flex;
}
.control-video {
  max-width: 817px;
  width: 100%;
  height: auto;
  margin-bottom: 65px;
}
.video{
  background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url(../img/video.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 434px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-play{
  background-image: url(../img/icons/PLAY.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 120px;
  width: 120px;
}

.control-bottom__item{
  margin-bottom: 35px;
}
.control-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.control-text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 91px;
}
.control-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 37px;
}
.control-input__item {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  height: 45px;
  width: 233px;
}
.control-input__label{
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
.button-control {
  width: 200px;
  height: 51px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
}
.control-checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox:checked+label::before {
  border-color: #E3B873;
  background-color: #E3B873;
  background-image: url("../img/icons/checkbox.svg");
}
.checkbox-text{
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 163.68%;
  color: #181818;
}
.types {
}
.types-content {
 
}
.types-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.types-title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #181818;
  margin-bottom: 13px;
}
.types-icon {
  list-style: none;
  display: flex;
  gap: 10px;
}
.types-columns {
  display: flex;
  justify-content: center;
}
.types-columns__column {
  margin-right: 30px;
  position: relative;
}
.types-column__item {
  margin-top: -100px;
  position:absolute;
  left:31px;
  background-color: #FFFFFF;
  width: 330px;
  height: 290px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.types-subtitle {
  margin-left: 34px;
  margin-top: 25px;
  margin-bottom: 13px;
}
.types-column__list {
  list-style: disc;
  margin-left: 34px;
}
.types-column__list li{
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}
.types-button{
  margin-top: 10px;
  font-family: 'Yeseva One','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.types-request {
  margin-top:280px ;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  background-image: url(../img/list-background.jpg);
  background-position-y: 100%;
  background-repeat: no-repeat;
  align-items: flex-start;
}
.request-list {
  padding-left: 240px;
  padding-right: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.request-list__item {
  display: flex;
  margin-bottom: 73px;
}
.round__circle {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  background-color: rgb(227 184 115);
  border: 8px solid white;
  color: white;
  font-family: 'Yeseva one','Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: px;
}
.round__text {
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #363636;
  align-self: center;
}
.request-form {
  padding: 30px 50px;
  background-color: rgb(19, 19, 19);
  margin-right: 100px;
  margin-left: 105px;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 5%) 0px 30px 30px;
  width: 509px;
}
.input-top {
  font-family: Nunito;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.request-input__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
  text-align: left;
}
.request-input__label {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}
.input-request{
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  color: #ffffff;
  background: none;
  font-family: Nunito;
  font-size: 14px;
  line-height: 23px;
  outline: 0;
}
.request-button{
  padding-top: 20px;
  text-align: right;
}
.button-request {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.checkbox-text__request {
  color: #ffffff;
}
.types-pigcoin {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  margin-right: 320px;
  margin-top: 40px;
}
.types-pigcoin img{
  background-color: rgb(227, 184, 115);
  border: 15px solid rgb(227, 184, 115);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-shadow: rgb(237 192 120 / 20%) 0px 10px 20px;
}
.pigcoin__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  align-self: center;
  text-align: left;
}
.relize{
  margin-top: 280px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url(../img/relize-background.png);
  background-size: cover;
  height: 864px;
  position: relative;
  bottom: 130px;
  padding: 0px 99px;
}
.relize-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.relize-leftside {
  width: 550px;
  padding-top: 130px;
  margin-right: 50px;
}
.leftside-title {
  font-size: 27px;
  line-height: 37px;
  color: #E3B873;
  margin-bottom: 47px;
}
.leftside-list {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #FFFFFF;
}
.leftside-list li{
  margin-bottom: 10px;
}
.leftside-list li:first-child{
  color: #E3B873;
  text-decoration: underline;
}
.relize-rightside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 100%;
  justify-content: space-around;
}
.relize-rightside img{
  object-fit: contain;
  margin-top: -40px;
}
.relize-rightside img:nth-child(2){
  margin-top: -476px
}
.relize-rightside img:nth-child(3){
  margin-top: 40px
}
.relize-rightside img:nth-child(4){
  margin-top: -405px
}
.client {
  background-image: url(../img/background_clients.png);
  background-position: right bottom;
  background-repeat: repeat-x;
  height: 1100px;
}
.client-content {
  display: flex;
  flex-direction: column;
}
.client-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.title-client{
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #181818;
  margin-bottom: 13px;
}
.client-top__text {
  margin-top: 25px;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 29px;
  text-align: center;
  color: #363636;
}
.client-columns {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.client-columns__column {
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  margin-right: 50px;
  padding: 24px 31px 60px 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 428px;
}
.client-columns__column img{
  border-radius: 50%;
}
.subtitle-client{
  line-height: 23px;
  text-transform: none;
}
.client-text{
  grid-column: 1/3;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  margin-top: 25px;
}
.client-buttons {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  padding-top: 44px;
}
.client-buttons img{
  border-radius: 0%;
  margin-right: 5px;
}
.button-client__one {
  display: flex;
  align-items: center;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 2px;
  padding: 10px 15px 10px 10px;
}
.button-client__two {
  display: flex;
  align-items: center;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 15px 10px 10px
}
.questions {
  background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url(../img/background_question.png);
  background-size: cover;
  height: 955px;
}
.question-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-form {
  background-color: #181818;
  height: 446px;
  width: 883px;
  margin-top: -222px;
  padding: 35px 181px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  justify-items: center;
  margin-bottom:52px;
}
.question-input {
  
}
.question-subtitle {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  grid-column: 1/3;
  text-align: center;
  padding-bottom: 30px;
}
.questions-input__item{
  padding-bottom: 55px;
}
.question-checkbox{
  grid-column: 1/3;
  padding-bottom: 30px;
}
.request-input__label p{
  color: #FFFFFF;
}
.question-button {
  grid-column: 1/3;
  
}
.button-question{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: #FFFFFF;
  width: 200px;
  height: 51px;
}
.question-text {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 26px;
}
.question-icon{
  margin-bottom: 44px;
}
.question-icon img{
  background-color: rgb(227, 184, 115);
  border: 5px solid rgb(227, 184, 115);
  border-radius: 50%;
  width: 28px;
  height: 28px;
    
}
.question-map {
}
.footer{
  background: #181818;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  height: 133px;
  align-items: center;
  font-size: 11px;
}
/*.Адаптивная верстка*/
.projects-img__mobile{
  display: none;
}
.control-form__mobile{
  display: none;
}
.relize-rightside__mobile{
  display: none;
}
@media (max-width: 1300px) {
        img{
           width: auto;
            max-width: 100%;
        }
        .logo{
          margin-left: 18px;
        }
        .header-contact{
          margin-right: 18px;
        }
        .header-navigtion__tel{
          margin-right: 0px;
        }
        .header-navigation{
          display: none;
        }
        
        .header-contact button{
          display: none;
        }
        .banner{
          height: 380px;
          padding: 0;
        }
        .banner-content{
          display: flex;
          align-items: center;
          padding: 55px 45px;
        }
        .banner-title{
          padding-top: 50px;
          font-size: 23px;
          line-height: 132.83%;
        }
        .banner-text{
          font-size: 14px;
          line-height: 135.83%;
        }
        .banner-submit{
          flex-direction: column;
        }
        .button-submit{
          width: 340px;
          margin-bottom: 26px;
        }
        .button-transparent{
          width: 340px;
        }
        .projects{
          padding: 0;
        }
        .projects-content{
          flex-direction: column;
          align-items: center;
          padding: 55px 45px;
        }
        .left-side{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
        }
        .projects-title{
          font-size: 22px;
          line-height: 138.6%;
          text-align: center;
        }
        .projects-text{
          font-size: 11px;
          line-height: 158.48%;
          text-align: center;
          margin-bottom: 36px;
        }
        .projects-icon,.right-side{
          display: none;
        }
        .projects-img__mobile{
          display: block;
          text-align: center;
          margin-bottom: 37px;
        }
        .projects-info{
          justify-content: center;
        }
        .info{
          margin: 0;
        }
        .info-title{
          font-size: 14px;
          line-height: 138.6%;
        }
        .info-text{
          font-size: 11px;
          line-height: 158.48%;
        }
        .control{
          padding: 0 18px;
          background-color: #131313;
          height: 1150px;
        }
        .control-title{
          font-size: 22px;
          line-height: 138.6%;
        }
        .control-video{
          margin-bottom: 28px;
        }
        .control-text{
          font-size: 11px;
          line-height: 169.8%;
          text-align: center;
          color: #FFFFFF;
        }
        .control-form{
          display: none;
        }
        .control-form__mobile{
          display:flex;
          flex-direction: column;
          align-items: center;
        }
        .control-input{
          flex-direction: column;
          align-items: center;
        }
        .control-input__item{
          margin: 0;
          margin-bottom: 65px;
        }
        .control-input__item input{
          border-bottom: 1px solid rgba(54, 54, 54, 0.3);
          color: #ffffff;
          background: none;
          font-size: 14px;
          line-height: 23px;
          outline: 0;
        }
        
        .control-input__item p{
          color: #ffffff;
        }
        .control-checkbox{
          margin-bottom: 0;
        }
        .button-control{
          position: relative;
          top: 40px;
          width: 340px;
        }
        .checkbox-text{
          font-size: 14px;
          line-height: 163.68%;
          color: #FFFFFF;
        }
        .types{
          margin-top: 85px;
        }
        .types-title{
          font-size: 22px;
          line-height: 138.6%;
        }
        .types-columns{
          flex-direction: column;
          align-items: center;
        }
        .types-subtitle{
          font-size: 15px;
          line-height: 138.6%;
          margin-left: 31px;
          margin-top: 21px;
          margin-bottom: 10px;
        }
        .types-columns__column{
          height: 650px ;
        }
        .types-column__list li{
          line-height: 22px;
        } 
        .types-column__item{
          left: 0;
          height: 241px;
          width: 270px;
        }
        .types-button{
          font-size: 15px;
          line-height: 138.6%;
          width: 190px;
          height: 40px;
          padding: 11px 10px;
        }
        .types-request{
          display: none;
        }
        .types-pigcoin{
          display: none;
        }
        .relize{
          background-color: #181818;
          background-image: none;
          margin-top: 450px;
          height: 430px;
          padding: 0;
        }
        .relize-content{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0;
        }
        .relize-leftside {
          
          width: auto; 
          padding-top: 0px; 
          margin-right: 0px;
        }
        .leftside-title{
          margin-top: -340px;
          text-align: center;
          font-size: 22px;
          line-height: 138.6%;
        }
        .leftside-list{
          display: none;
        }
        .relize-rightside__mobile{
          margin-top: -245px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-image: url(../img/relize-background.png);
          background-size: cover;
          background-position: center;
          max-width: 817px;
          width: 100%;
          height: 490px;
        }
        .relize-rightside{
          display: none;
        }

        .question-form{
          
          order: 1;
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 500px;
          padding: 0 18px;
          width: 100%;
        }
        .question-map{
          order: 2;
        }
        .button-question{
          width: 340px;
        }
        .questions{
          height: auto;
          background-image: none;
          background-color: #181818;
        }
        .container{
          padding: 0 18px;
        }
        .input-request{
          width: 200px;
        }
        .question-text{
          order: 3;
          font-size: 18px;
          line-height: 138.6%;
        }
        .question-icon{
          order: 4;
        }
        .client{
          display: none;
        }
        footer{
          display: none;
        }
        
}