@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');
/*Шрифты*/
body{
  margin: 0;
  font-family: 'Nunito Sans', 'Arial', 'Helvetica', sans-serif;
}
body * {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.button{
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-size: 11px;
  cursor: pointer;
}
.title{
  font-family: 'Yeseva One','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.logo{
  margin-left: 90px;
  color: #E3B873;
  text-transform: uppercase;
}

.header{
  background-color: black;
}
.header-content{
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
  font-size: 11px;
}
.header-navigation{
  list-style: none;
  display: flex;
}
.header-navigtion__item{
  margin-right: 47px;
}
.navigation-link{
  text-decoration: none;
  color: white;
}
.link-color{
  color: #E3B873;
}
.header-contact{
  margin-right: 90px;
}
.header-navigtion__tel{
  color: #E3B873;
  margin-right: 45px;
}
.banner{
  background-image: url(../img/hero.jpg);
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  padding-left: 134px;
  position: relative;
}
.banner-overlay{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.banner-content{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.banner-title{
  padding-bottom: 19px;
}
.banner-text{
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
  padding-bottom: 23px;
}
.highlight{
  color: #E3B873;
}
.banner-submit{
  display: flex;
  
}
.button-submit{
  width: 205px;
  height: 51px;
  margin-right: 20px;
}
.button-transparent{
  width: 205px;
  height: 51px;
  border: 1px solid white;
  background: none;
  padding: 0;
}
.projects {
  background-color: #131313;
  background-size: cover;
  padding-top: 107px;
  padding-left: 135px;
  height: 1074px;
}
.projects-content {
  display: flex;
  flex-direction: row;
}
.left-side {
  padding-top: 55px;
  width: 440px;
  height: 542px;
  margin-right: 50px;
}
.projects-title {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  color: #E3B873; 
  margin-bottom: 34px;
}
.projects-text {
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 42px;
}
.projects-info {
  display: flex;
  flex-wrap: wrap;
}
.info {
  width: 175px;
  height: 72px;
  margin-right: 29px;
  margin-bottom: 34px;
}
.info-title {
  font-size: 18px;
  line-height: 25px;
  color: #E3B873; 
}
.projects-icon {
  margin-top: 30px;
}
.right-side {
  display: flex;
  flex-direction: column;
}
.projects-navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 45px;
}
.projects-navigation__item {
  margin-right: 61px;
}
.projects-link {
  font-family: 'Yeseva One','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3); 
}
.link-underline {
  text-decoration: underline;
  color: #E3B873;
}
.projects-img {
}
.control-content {
  margin-top: -320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.control-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.control-title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 12px;
}
.control-icon {
  list-style: none;
  display: flex;
}
.control-icon__item {
  margin-right: 9px;
}
.control-video {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 65px;
}
.video{
  position: relative;
  top: 0;
  left: 0;
}
.video-play{
  position: absolute;
  top: 150px;
  left: 334px;
  z-index: 1;
  
}
.video-overlay{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.control-bottom__item{
  margin-bottom: 35px;
}
.control-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.control-text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 91px;
}
.control-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 37px;
}
.control-input__item {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  height: 45px;
  width: 233px;
}
.control-input__label{
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
.input {
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  outline: none;
}
.button-control {
  width: 200px;
  height: 51px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
}
.control-checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox:checked+label::before {
  border-color: #E3B873;
  background-color: #E3B873;
  background-image: url("../img/icons/checkbox.svg");
}
.checkbox-text{
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 163.68%;
  color: #181818;
}
.types {
}
.types-content {
 
}
.types-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.types-title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #181818;
  margin-bottom: 13px;
}
.types-icon {
  list-style: none;
  display: flex;
}
.types-icon__item {
  margin-right: 10px;
}
.types-columns {
  display: flex;
  justify-content: center;
}
.types-columns__column {
  margin-right: 30px;
  position: relative;
}
.types-column__item {
  margin-top: -100px;
  position:absolute;
  left:31px;
  background-color: #FFFFFF;
  width: 330px;
  height: 290px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.subtitle {
  font-family: 'Yeseva One','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.types-subtitle {
  margin-left: 34px;
  margin-top: 25px;
  margin-bottom: 13px;
}
.types-column__list {
  list-style: disc;
  margin-left: 34px;
}
.types-column__list li{
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}
.types-button{
  margin-top: 10px;
  font-family: 'Yeseva One','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.types-request {
  margin-top:280px ;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  background-image: url(../img/list-background.jpg);
  background-position-y: 100%;
  background-repeat: no-repeat;
  align-items: flex-start;
}
.request-list {
  padding-left: 240px;
  padding-right: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.request-list__item {
  display: flex;
  margin-bottom: 73px;
}
.round__circle {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  background-color: rgb(227 184 115);
  border: 8px solid white;
  color: white;
  font-family: 'Yeseva one','Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: px;
}
.round__text {
  font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #363636;
  align-self: center;
}
.request-form {
  padding: 30px 50px;
  background-color: rgb(19, 19, 19);
  margin-right: 100px;
  margin-left: 105px;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 5%) 0px 30px 30px;
  width: 509px;
}
.request-input {
}
.input-top {
  font-family: Nunito;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.request-input__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
  text-align: left;
}
.request-input__label {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.input-request{
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  color: #ffffff;
  background: none;
  font-family: Nunito;
  font-size: 14px;
  line-height: 23px;
  outline: 0;
}
.request-button{
  padding-top: 20px;
  text-align: right;
}
.button-request {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.checkbox-text__request {
  color: #ffffff;
}
.types-pigcoin {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  margin-right: 320px;
  margin-top: 40px;
}
.types-pigcoin img{
  background-color: rgb(227, 184, 115);
  border: 15px solid rgb(227, 184, 115);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-shadow: rgb(237 192 120 / 20%) 0px 10px 20px;
}
.pigcoin__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  align-self: center;
  text-align: left;
}